<ion-header>
  <ion-navbar color='primary'>
    <ion-title *ngFor="let event of eventLists">
      <strong>{{event?.name}} Details</strong></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">
  <ion-card>
      <ion-item *ngFor="let event of eventLists">
        <ion-card-header><strong><a>{{event?.name}}</a></strong></ion-card-header>
        <p>Venue:
          <strong>{{event?.venue}}</strong>
        </p>
        <p>County:
          <strong>{{event?.county}}</strong>
        </p>
        <p>Genre:
          <strong> {{event?.genre}}</strong>
        </p>
        <p>Ticket price:
          <strong>€{{event?.price}}</strong>
        </p>
        <p>Date:
          <strong>{{event?.date}}</strong>
        </p>
        <p>Description:
          <strong> {{event?.description}}</strong>
        </p>

        <ion-item *ngIf="!statement">
          <button ion-button block class="marginTop" (click)="GoToPurchaseTicketsPage(event.id)"><strong>Get Tickets</strong></button>
        </ion-item>

        <ion-item *ngIf="statement">
          <p><strong><a>{{statement}}</a></strong></p>
        </ion-item>

        <img [src] =path />
      </ion-item>
  </ion-card>
